<div class="row justify-content-center">
    <div (click)="open(addCustomer)" class="col-lg-2 col-md-4 col-5 btn btn-primary mt-2"><i class="fa fa-plus"> </i> Add New Customer </div>
</div>
<div *ngIf="customersArr.length != 0" class="p-0" style="overflow-x: auto">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor=" let customer of customersArr">
                <td>{{customer.id}}</td>
                <td class="name-table">{{ customer.firstName }}</td>
                <td>{{ customer.lastName }}</td>
             
                <td>
                    <i style="margin-left: 5px" (click)="editCustomer(customer,EditCustomer)" class="fa fa-edit"></i>
                    <i (click)="DeleteCustomer(customer,deleteCustomer)" class="fa fa-trash"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #addCustomer let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <div class="modal-custom-header-add">
                <h5 class="modal-title" id="exampleModalLabel">Add New Customer</h5>
            </div>
            <div (click)="modal.close()" class="btn-close" aria-label="Close"> </div>
        </div>
        <div class="modal-body">
            <div class="form-group mt-3">
                <div style="display: flex; flex-wrap: nowrap; height: 30px;">
                    <label> First Name</label>
                    <span *ngIf="FirstName.invalid" class="alert" style="color: red; white-space: nowrap;line-height: 0; padding: 0; margin-top: 8px;">
                        <div *ngIf="FirstName.errors?.['required']">
                            *
                        </div>
                    </span>
                </div>
                <input name="FirstName" required #FirstName="ngModel" [(ngModel)]="firstName" id="FirstName" type="text" class="form-control">
            </div>
            <div class="form-group mt-4">
                <div style="display: flex; flex-wrap: nowrap; height: 30px;">
                    <label> Last Name</label>
                    <span *ngIf="SecondName.invalid" class="alert" style="color: red; white-space: nowrap;line-height: 0; padding: 0; margin-top: 8px;">
                        <div *ngIf="SecondName.errors?.['required']">
                            *
                        </div>
                    </span>
                </div>
                <input name="SecondName" required #SecondName="ngModel" [(ngModel)]="lastName" id="SecondName" type="text" class="form-control">
            </div>
        </div>
        <div class="modal-footer">
            <button (click)="addNewCustomer()" [disabled]="FirstName.invalid || SecondName.invalid" class="btn btn-primary" type="button">Add</button>
        </div>
    </div>
</ng-template>

<ng-template #EditCustomer let-modal>
    <div *ngIf="editedCustomer" class="modal-content">
        <div class="modal-header">
            <div class="modal-custom-header-add">
                <h5 class="modal-title" id="exampleModalLabel"> Edit Customer</h5>
            </div>
            <div (click)="modal.close()" class="btn-close" aria-label="Close"> <i class="fa fa-close"></i></div>
        </div>
        <div class="modal-body">

            <div class="form-group mt-3">
                <div style="display: flex; flex-wrap: nowrap; height: 30px;">
                    <label for="EditFirstName">First Name</label>
                    <span *ngIf="EditFirstName.invalid" class="alert" style="color: red; white-space: nowrap;line-height: 0; padding: 0; margin-top: 8px;">
                        <div *ngIf="EditFirstName.errors?.['required']">
                            *
                        </div>
                    </span>
                </div>
                <input name="EditFirstName" required #EditFirstName="ngModel" [(ngModel)]="editedCustomer.firstName" id="EditFirstName" type="text" class="form-control">
            </div>
            <div class="form-group mt-4">
                <div style="display: flex; flex-wrap: nowrap; height: 30px;">
                    <label for="EditSecondName">Last Name</label>
                    <span *ngIf="EditSecondName.invalid" class="alert" style="color: red; white-space: nowrap;line-height: 0; padding: 0; margin-top: 8px;">
                        <div *ngIf="EditSecondName.errors?.['required']">
                            *
                        </div>
                    </span>
                </div>
                <input name="EditSecondName" required #EditSecondName="ngModel" [(ngModel)]="editedCustomer.lastName" id="EditSecondName" type="text" class="form-control">
              
            </div>
        </div>
        <div class="modal-footer">
            <button (click)="updateCustomer()" [disabled]="EditFirstName.invalid || EditSecondName.invalid " class="btn btn-primary" type="button">Edit</button>
        </div>
    </div>
</ng-template>

<ng-template #deleteCustomer let-modal>
    <div class="modal-content">
        <div class="modal-header delete-modal-header" style="justify-content: flex-start;">
            <i style="font-size: 30px; margin:0 10px;" class="fa fa-info-circle" aria-hidden="true"></i>
            <h5 class="modal-title" id="exampleModalLabel"> Delete Customer</h5>
        </div>
        <div class="modal-body">
            <p style="font-size: 18px;text-align: center;margin: 0;"> Are yu sure you want to delete this record?</p>
        </div>
        <div class="modal-footer" style="justify-content: center;">
            <div (click)="onDeleteCustomer()" style="background-color:#FF5251;color: white;" class="btn"> Yes</div>
            <div (click)="modal.close()" style="border-color:#8B8B8B;color:#8B8B8B" class="btn"> Cancel</div>
        </div>
    </div>
</ng-template>